<div class="videos">
  <% @videos.each do |video| %>
    <div class="title"><%= video.name %></div>
    <iframe width="600" height="400" src="<%= video.url %>" frameborder="0" allowfullscreen>
    </iframe>
  <% end %>
</div>

