<div class="photos">
  <h2><%= @album.name %></h2>
  <p><%= @album.description %></p>
  <% @photos.each do |photo| %>
    <%= link_to(image_tag(photo.image.thumb.url), photo.image.url, html_options = { :rel="lightbox"}) %>
  <% end %>
</div>


