<h2>Обрезай и властвуй</h2>

<%= image_tag @post.image_url(:large), id: "cropbox" %>

<%= semantic_form_for [:admin, @post] do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.text_field "crop_#{attribute}" %>
  <% end %>
  <div class="actions">
    <%= f.submit "Crop" %>
  </div>
<% end %>