
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_selfd
 *= require bootstrap_and_overrides
 *= require members
 *= require menu
 *= require slidorion
 *= require posts
 *= require albums
 *= require colorbox-rails
 */

// @import "bootstrap";


// slidorion

iframe {
  z-index: 0;
}

h1  {
  font: bold 32px/35px "Trebuchet MS", "Times New Roman", serif;
  color: #000000;
}

#slidorion {
  border: none;
  box-shadow: none;
}

#slider {
  height: 200px;
}

#accordion {
  height: 200px;
}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  // @include border-radius(0 0 6px 6px);
  // @include box-shadow(0 1px 2px rgba(0,0,0,0.15));
}

body {
  // background: #000 url("http://cs1.kprf.ru/themes/dv/images/bg.png") repeat 0 0;
  background: #ffffff url('/images/Fon.jpg') no-repeat center 0; 
}

.pages {
  padding: 30px;
}

a {
  color: #545454;
}

a:hover {
  text-decoration: underline;
  color: #545454;
}
.container {
  //background-color: white;

  border: 1px solid #bbb;
  -webkit-box-shadow: 0 0 34px #bbb;
  -moz-box-shadow: 0 0 34px #bbb;
  box-shadow: 0 0 34px #bbb;

  .header {
    height: 65px;
    border-radius:6px; 
  -webkit-border-radius:6px; 
  -moz-border-radius:5px; 
  -khtml-border-radius:10px;

  // background: #ff1a00; /* Old browsers */
  // background: -moz-linear-gradient(-45deg, #ff1a00 0%, #930002 99%); /* FF3.6+ */
  // background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff1a00), color-stop(99%,#930002)); /* Chrome,Safari4+ */
  // background: -webkit-linear-gradient(-45deg, #ff1a00 0%,#930002 99%); /* Chrome10+,Safari5.1+ */
  // background: -o-linear-gradient(-45deg, #ff1a00 0%,#930002 99%); /* Opera 11.10+ */
  // background: -ms-linear-gradient(-45deg, #ff1a00 0%,#930002 99%); /* IE10+ */
  // background: linear-gradient(135deg, #ff1a00 0%,#930002 99%); /* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#930002',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }

}
