// all members in index page
.deputats {
  h3 {
    padding-left: 30px;
  }
}
.members {
  font: 12px/14px "Trebuchet MS", "Times New Roman", serif;
  padding-left: 30px;

  h2 {
    //padding-left: 30px;
  }
  .member {
    width: 180px;
    //padding: 10px;
    //display: inline-block;
    float: left;
    margin-bottom: 30px;
    margin-right: 20px;
    //padding-right: 10px;
    // min-height: 370px;

    .member_name {
      margin: 10px 0;
      text-transform: uppercase;
      a {
        color: #000000; 
      }

    }
    .member_desc {
      padding: 10px 0;
    }
  }
}

// one member in show page

.member_wrap {
  .member_inner {
    padding: 10px 30px 30px 30px;

    .member_image {
      margin-right: 10px;
    }
    .member_name {
      font-size: 40px;
    }

    .member_desc {
      font-style: italic;
      font-size: 14px;
    }
    .member_bio {
      margin-top: 20px;
    }
  }
}

.related {
  padding-left: 30px;
}