// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.members {
  font: 12px/14px "Trebuchet MS", "Times New Roman", serif;

  h2 {
    margin-left: 10px;
  }
  .member {
    width: 160px;
    padding: 15px;
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 10px;


    // .member_image {
    //   height: 160px;
    // }

    .member_name {
      margin: 10px 0;
      text-transform: uppercase;
      a {
        color: #000000; 
      }

    }
    .member_desc {
      padding: 10px 0;
    }
  }
}
