

// all members in index page
.deputats {
  h3 {
    padding-left: 30px;
  }
}
.members {
  font: 16px/18px "Trebuchet MS", "Times New Roman", serif;
  padding-left: 30px;

  .member {
    width: 210px;
    float: left;
    margin-bottom: 30px;
    margin-right: 20px;
    height: 400px;

    .member_name {
      width: 100px;
      margin: 10px 0;
      text-transform: uppercase;
      a {
        color: #000000; 
      }

    }
    .member_desc {
      padding: 10px 0;
      font: 12px/18px "Trebuchet MS", "Times New Roman", serif;
    }
  }
}

// one member in show page

.member_wrap {
  .member_inner {
    padding: 10px 30px 30px 30px;

    .member_image {
    }
    .member_name {
      font-size: 40px;
    }

    .member_desc {
      font-style: italic;
      font-size: 14px;
    }
    .member_bio {
      margin-top: 20px;
    }
  }
}

.related {
  padding-left: 30px;
}