ul {
  list-style: none;
}
/*
.menuTop {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 640px;
  height: 30px;
}

.menuTop > li:first-child {
  margin-left: 20px;
}

.menuTop li a {
  color: black;
  text-decoration: none;
}

.menuTop li a:hover {
  color: red;

}

.menuTop > li {
  position: relative;
  float: left;
  height: 30px;
  margin-left: 17px;
  font: bold 12px/30px "Trebuchet MS", "Times New Roman", serif;
  color: black;
  text-transform: uppercase;
}
*/

.navbar {
  .navbar-inner {
    border: none;
    .search {
      // height: 30px;
      // margin: 5px auto;
      // float: right;
    }
  }
}

.menuTop > li {
  position: relative;
  font: bold 12px/30px "Trebuchet MS", "Times New Roman", serif;
  color: #ffffff;
  text-transform: uppercase;
}

.menuTop .subMenu {
  display: none;
  position: absolute;
  /*top: 40px;*/
  left: -21px;
  min-width: 100px;
  padding: 15px 15px 7px 10px;
  z-index: 5;
  // border-top: 1px solid white;
  // background: #000 url("http://cs1.kprf.ru/themes/dv/images/bg.png") repeat 0 0;
  background-color: #f9f9f9;
  background-image: -moz-linear-gradient(top, white, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, white, #f2f2f2);
  background-image: -o-linear-gradient(top, white, #f2f2f2);
  background-image: linear-gradient(to bottom, white, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
}

.menuTop div.subMenu:after {
  display: block;
  content: ' ';
  height: 0;
  overflow: hidden;
  clear: both;
}

.header {
  position: relative;
}

.menuTop div.subMenu ul {
  float: left;
  width: 160px;
}

.menuTop .subMenu li {
  margin-bottom: 8px;
  font: normal 12px/14px "Trebuchet MS", "Times New Roman", serif;
  text-transform: none;
}

.menuTop li a {
  color: #777777;
  text-decoration: none;
}

.menuTop li a:hover {
    color: black;
}

.navbar .nav  > li > a {
  padding: 10 15px 0px;
} 
