<div class="agit"> 
  <% @agits.each do |agit| %>
    <div class="agits_wrap">
      <%= link_to image_tag(agit.file.thumb.url, :class=>"img-polaroid"), agit.file.url, rel: 'group1', :data => { :colorbox => true, :colorbox_static => true } %>
      <div class="agit_link"><%= link_to agit.name, agit_path(agit) %></div> 
    </div>
  <% end %>
  <div class="clearfix"></div>
</div>
