<a href="/" id="sitelogo"></a> 

  <ul class="links">
    <li><a href="http://kprf.ru" class="kprf" target="_blank"></a></li>
    <li><a href="/site.atom" class="rss"></a></li>
    <li><a href="http://www.youtube.com/user/arhkprf" class="you" target="_blank"></a></li>
    <li><a href="http://vk.com/kprf29" class="vk" target="_blank"></a></li>
  </ul>
<div class="search">
  <%= form_tag "search/index", :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
</div>