<a href="/" id="sitelogo"></a> 

  <ul class="links">
    <li><a href="#" class="kprf"></a></li>
    <li><a href="#" class="rss"></a></li>
    <li><a href="#" class="you"></a></li>
    <li><a href="#" class="vk"></a></li>
  </ul>
