<% @main_pages = Page.where(:parent_id => nil) %>
<div class="navbar">
  <div class="navbar-inner">
    <ul class="menuTop nav">
      <% @main_pages.each do |main_page| %>
        <li>
          <%= link_to main_page.title, "#{root_url}#{main_page.url}" %>
          <% @subpages = main_page.subpages %>
          <% unless @subpages.empty? %>
            <div class="subMenu">
              <ul>
                <% @subpages.each do |subpage| %>
                <li><%= link_to subpage.title, page_path(subpage) %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
